.div0 {
    position: absolute;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    font-size: 16px;
    line-height: 3.9;
    text-indent: 24px;
}
.div1 {
    width: 56px;
    top: 24%;
    right: 68%;
    background-color: gray;
    height: 56px;
   
}
.div2 {
    width: 56px;
    top: 24%;
    right: 63%;
    background-color: green;
    height: 56px;
  
}
.div3 {
    width: 56px;
    top: 24%;
    right: 58%;
    background-color: red;
    height: 56px;
   
}
.div4 {
    width: 56px;
    top: 24%;
    right: 53%;
    background-color: lightgreen;
    height: 56px;

}
.div5 {
    width: 56px;
    top: 24%;
    right: 48%;
    background-color: yellow;
    height: 56px;
    color: black;
    
}
.div6 {
    width: 56px;
    top: 24%;
    right: 43%;
    background-color: purple;
    height: 56px;
    
}
.div7 {
    width: 56px;
    top: 24%;
    right: 38%;
    background-color: orange;
    height: 56px;
    
}
.div8 {
    width: 56px;
    top: 24%;
    right: 33%;
    background-color: black;
    height: 56px;
   
}
.div9 {
    width: 56px;
    top: 24%;
    right: 28%;
    background-color: darkblue;
    height: 56px;
    
}
.div10 {
    width: 56px;
    top: 24%;
    right: 23%;
    background-color: pink;
    height: 56px;
   
}

