body {
background-color: lightblue;
color: maroon;
font-family: Arial;
margin: 0px;
}

header {
    background-color: black;
    color: lightgreen;
    padding: 10px;
    font-size: 16px;
}

footer {
    background-color: black;
    color: lightgreen;
    padding: 10px;
    text-align: "right";
    font-size: 16px;
}

a {
    color: green; 
    text-decoration: none;
}

a:visited {
    color:blueviolet;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
}

a:active {
    color: pink;
    background-color: green;
}



